<div id="page-wrapper" class="container-fluid">

  <div class="row">
	<div class="col-md-3">
	  <div class="photo">
	    <img ng-src="img/{{$ctrl.f.persons[0].photo}}" class="contact" style = "height:200px; width:200px; border-radius: 50%; margin-top:20px" />
	  </div>
	</div>
	<div class="col-md-8">
	
	  <div class="row" style="height:6em;">
		<div class="col-md-8" 
			 ng-mouseenter= "showFullname = true" 
			 ng-mouseleave= "showFullname = false">	
			<div ng-hide="showFullname">
				<h1>{{$ctrl.f.persons[0].fullname}}</h1>
			</div>
			<div ng-show="showFullname">
				<input type="text" name="input" ng-model="$ctrl.f.persons[0].fullname" 
				style="font-size:36px; font-weight:500; margin-top:.31em; margin-left:-2px">
			</div>
		</div>
		<div class="col-md-3"
			 ng-mouseenter= "showFullname_zh = true" 
			 ng-mouseleave= "showFullname_zh = false">
			<div ng-hide="showFullname_zh">
				<h1>{{$ctrl.f.persons[0].fullname_zh}}</h1> 
			</div>
			<div ng-show="showFullname_zh">
				<input type="text" name="input" ng-model="$ctrl.f.persons[0].fullname_zh" 
				style="font-size:36px; font-weight:500; margin-top:.31em; width:5em; margin-left:-2px">
			</div>
		</div>
		
	  </div>
	  
	  <div class="row">
		<div class="col-md-11" style="height:3.2em"
			 ng-mouseenter= "showBirthday = true" 
			 ng-mouseleave= "showBirthday = false">
			<div ng-hide="showBirthday">
				<p>{{$ctrl.f.persons[0].birthday | date:'MMM d yyyy'}}</p>
			</div>
			<div ng-show="showBirthday" >
				<input type="text" name="input" ng-model="$ctrl.f.persons[0].birthday"
				style="margin-left:-2px; margin-top:-2px;">
			</div>
		</div>
		
	  </div>
	  
	  <div class="row">
	    <div class="col-md-12">
		    <h3>Contact Info</h3>
			<ul ng-repeat="loc_type in [1,2,3,4,5]" style="list-style:none">
				<li ng-repeat="loc in $ctrl.f.locators"
					ng-if="loc.locator_type==loc_type"
					ng-mouseenter="show = true" 
					ng-mouseleave="show = false"
					style="height:2em;">
					
					<span class="{{$ctrl.locatorTypes[loc_type-1].icon}}" aria-hidden="true"></span>
					
					<span ng-hide="show" style="display:inline-block; width:8em; padding-left:15px;">{{loc.description}}</span>
					<span ng-show="show" style="display:inline-block; width:8em; padding-left:15px;">
						<select name="repeatSelect" 
								ng-model="loc.description"
								style="margin-top:-2px; margin-left:-2px">
							<option ng-repeat="option in $ctrl.locDescOptions" value="{{option.name}}">{{option.name}}</option>
						</select>
					</span>
					
					<span ng-hide="show" style="display:inline-block; width:25em">{{loc.info}}</span>
					<span ng-show="show" style="display:inline-block; width:25em">
						<input id="loc-info-input" type="text" name="input" 
								ng-model="loc.info" 
								style="width:25em; margin-left:-2px; margin-top:-2px">
					</span>
					<div ng-show="show" style="display:inline-block;">
						<a ng-click="$ctrl.delLocator(???)">
							<span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
						</a>
					</div>
					
				</li>
				<li ng-mouseenter="show = true" ng-mouseleave="show = false">
						<span ng-show="show" class="glyphicon glyphicon-plus" aria-hidden="true" style="color:blue"></span>
						<span ng-hide="show" style="display:inline-block; width:35em; padding-left:15px;">&nbsp;</span>
						<span ng-show="show"style="display:inline-block; width:35em; padding-left:15px;">
							<a ng-click="$ctrl.addLocator(loc_type)" style="cursor:default">Add {{$ctrl.locatorTypes[loc_type-1].name}}</a>
						</span>
				</li>
			</ul>
			
			<h3>Groups</h3>
			<ul style="list-style:none;">
				<li ng-repeat="group in $ctrl.contact.contact.groups | orderBy: 'name' ">
					<span class="glyphicon glyphicon-record" aria-hidden="true"></span>
					{{group.group_type}}
					{{group.name}}
				</li>
				<li ng-mouseenter="show = true" ng-mouseleave="show = false">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						<span ng-hide="show" style="display:inline-block; width:35em; padding-left:15px;">&nbsp;</span>
						<span ng-show="show"style="display:inline-block; width:35em; padding-left:15px;">
							<a ng-click="$ctrl.addGroup">Add group</a>
						</span>
				</li>
			</ul>
			<div style="height:20em">
			
			
		</div>
	  </div>
	</div>
	<pre>$ctrl.f = {{$ctrl.f | json}}</pre>
  </div>
</div>
